/* Main */
:root {
	--blue: hsl(246, 80%, 60%);
	--light-red: hsl(15, 100%, 70%);
	--soft-blue: hsl(195, 74%, 62%);
	--red: hsl(348, 100%, 68%);
	--lime-green: hsl(145, 58%, 55%);
	--violet: hsl(264, 64%, 52%);
	--soft-orange: hsl(43, 84%, 65%);
	--very-dark-blue: hsl(226, 43%, 10%);
	--dark-blue: hsl(235, 46%, 20%);
	--desaturated-blue: hsl(235, 45%, 61%);
	--pale-blue: hsl(236, 100%, 87%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	background-color: var(--very-dark-blue);
	color: white;
	font-weight: 400;
}

.center {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
	justify-content: center;
	margin: 4em auto 2.5em auto;
}

.container {
	width: 95%;
	max-width: 375px;
	min-width: 270px;
	display: grid;
	gap: 1.5rem;
	color: var(--desaturated-blue);
}

.card {
	display: flex;
	flex-direction: column;
	border-radius: 0.8rem;
}

/* User card */
.user-card {
	background-color: var(--dark-blue);
}

.user {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background-color: var(--blue);
	padding: 1.5em 1em;
	border-radius: 0.8rem;
}

.user .user-img {
	max-width: 15%;
	border: solid 0.15rem white;
	border-radius: 100%;
}

.user p {
	display: flex;
	flex-direction: column;
	color: var(--pale-blue);
	font-size: 0.8rem;
	font-weight: 300;
}

.user .user-name {
	font-size: 1.5rem;
	color: white;
}

.user-card .time {
	display: flex;
	justify-content: space-between;
	padding: 1.3em 1.5em;
	list-style: none;
	font-size: 1rem;
	gap: 1rem;
}

.time a {
	text-decoration: none;
	color: var(--pale-blue);
}

.time a:hover {
	color: white;
}

/* Activity card */
.activity-card .decoration {
	display: flex;
	justify-content: flex-end;
	border-radius: 0.8rem 0.8rem 0 0;
	padding-right: 0.8em;
	height: 2.5rem;
}

.decoration img {
	width: 5rem;
	object-fit: none;
	object-position: 100% 25%;
}

.activity-card .content {
	padding: 1.5em 1em;
	border-radius: 0.8rem;
	background-color: var(--dark-blue);
}

.content:hover {
	/* filter: brightness(150%); */
	background-color: hsl(236, 41%, 34%);
}

.category {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5em;
}

.category img {
	padding: 0.5em 0;
}

.category img:hover {
	cursor: pointer;
}

.category-name {
	font-weight: 500;
	font-size: 1em;
	color: white;
}

.data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	gap: 1.25rem;
	font-weight: 300;
}

.current-data {
	color: white;
	font-size: 2rem;
}

.previous-data {
	color: var(--pale-blue);
	font-size: 0.9rem;
}

/* Uitilities */
.light-red {
	background-color: var(--light-red);
}

.soft-blue {
	background-color: var(--soft-blue);
}

.red {
	background-color: var(--red);
}

.lime-green {
	background-color: var(--lime-green);
}

.violet {
	background-color: var(--violet);
}

.soft-orange {
	background-color: var(--soft-orange);
}

/* Media */
@media (min-width: 825px) {
	body {
		height: 100vh;
	}

	.center {
		margin: 0 auto;
		height: 100%;
	}

	.container {
		max-width: 950px;
		grid-template-columns: repeat(4, 1fr);	
		grid-template-rows: repeat(2, 1fr);
	}

	.user-card {
		grid-row: span 2;
	}

	.user-card .user {
		height: 100%;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 2.5rem;
		padding: 1.5em 1.5em;
	}

	.user .user-img {
		max-width: 45%;
	}

	.user .user-img:hover {
		cursor: pointer;
	}

	.user p {
		font-size: 0.8rem;
	}

	.user .user-name {
		font-size: 2.25rem;
		padding: 0.2em 0;
	}

	.user-card .time {
		flex-direction: column;
		gap: 1.3rem;
	}

	.activity-card {
		display: flex;
		flex-direction: column;
	}

	.activity-card .content {
		padding: 1.5em 1.5em;
	}

	.data {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
		margin-top: 1.25em;
	}
	
	.current-data {
		font-size: 2.75rem;
	}
}

/* Atrribution */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
